.DS_Store
build/
config/
dist/
log/
node_modules/
publish/
repository/
static/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package.json
package-lock.json
*.png
*.jpg
*.gif
*.svg
.eslintrc.js
.eslintignore
.git
.prettierrc.js
.gitignore
.gitkeep
.project

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
